header{

    background-color: rgb(196, 194, 109);
    text-align: center;
    
}

.menu{
    text-align: left;
}

.search{
    text-align: right;
}

footer{
    background-color: rgb(196, 194, 109);
    text-align: center;
}


img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
